body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #F3F2F2;
}

/*Global*/
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #B5E6E8;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #080B28;
}

/*Header*/
header {
    background: #F3F2F2;
    color: #1B1C1F;
    padding: 0;
    min-height: 50px;
    margin-top: 15px;
    border-bottom: #35424A solid;
}

    header a {
        color: #1B1C1F;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
    }

    header li {
        float: left;
        display: inline;
        /*Top, Right, Bottom, Left*/
        padding: 0 20px 0 20px;
    }

    header #branding {
        float: left;
        margin-left: 20px;
        margin-bottom: 10px;
    }

        header #branding h1 {
            margin: 0;
            padding: 0;
            color: #1B1C1F;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: lighter;
        }

    header nav {
        float: right;
        margin-top: 20px;
    }

    header .highlight, header .current a {
        color: #1B1C1F;
        font-weight: bold;
    }

    header a:hover {
        color: #CCCCCC;
        /*font-weight:bold;*/
    }

/*ContactFrame*/
#contactframe {
    width: 45%;
    text-align: center;
}

    #contactframe iframe {
        position: fixed;
        width: 55%;
        height: 75%;
        max-height: 600px;
    }

    #contactframe button {
        margin-top: 0;
        position: fixed;
        right: 25%;
        z-index: +2;
        font-size: 20px;
        color: #F3F2F2;
        background: none;
    }

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url('../img/img2.JPG') no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #1B1C1F;
    /*margin-top: 50px;*/
}

    #showcase .square {
        float: left;
        width: 20%;
    }

        #showcase .square img {
            width: 98.4%;
        }

    #showcase .name {
        margin-top: 120px;
        font-family: 'High Tower Text' sans-serif;
    }

    #showcase h1 {
        margin: 0;
        font-size: 80px;
        font-weight: 900;
    }

    #showcase p {
        font-size: 20px;
    }

#showcase2 {
    min-height: 400px;
    text-align: center;
    color: #1B1C1F;
    overflow: hidden;
    font-family: 'Times New Roman' sans-serif;
}

    #showcase2 .note {
        margin: 0;
        padding: 0;
        margin-left: 40%;
        margin-right: 40%;
    }

    #showcase2 .squares {
        margin-top: 50px;
        margin-left: 35%;
        margin-right: 35%;
    }

    #showcase2 .square {
        float: left;
        width: 20%;
    }

        #showcase2 .square img {
            object-fit: cover;
            width: 98.4%;
            height: 100px;
        }

    #showcase2 h1 {
        margin: 0;
        padding-top: 125px;
        padding-bottom: 25px;
        font-size: 30px;
        font-weight: 900;
    }

    #showcase2 p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 500;
    }

#showcase3 {
    min-height: 400px;
    background: url('../img/img3.JPG') no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    /*margin-top: 50px;*/
}

    #showcase3 .square {
        float: left;
        width: 20%;
    }

        #showcase3 .square img {
            width: 98.4%;
        }

    #showcase3 h1 {
        margin: 0;
        margin-top: 120px;
        font-size: 80px;
        font-weight: 900;
        font-family: 'High Tower Text' sans-serif;
    }

    #showcase3 p {
        font-size: 20px;
    }

#showcase4 {
    min-height: 400px;
    text-align: center;
    color: #1B1C1F;
    overflow: hidden;
    font-family: 'Times New Roman' sans-serif;
}

    #showcase4 .note {
        margin: 0;
        padding: 0;
        margin-left: 40%;
        margin-right: 40%;
    }

    #showcase4 .squares {
        margin-top: 50px;
        margin-left: 35%;
        margin-right: 35%;
    }

    #showcase4 .square {
        float: left;
        width: 20%;
    }

        #showcase4 .square img {
            object-fit: cover;
            width: 98.4%;
            height: 100px;
        }

    #showcase4 h1 {
        margin: 0;
        padding-top: 50px;
        padding-bottom: 25px;
        font-size: 30px;
        font-weight: 900;
    }

    #showcase4 p {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
    }

    #showcase4 iframe {
        text-align: center;
        margin-bottom: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-height: 1000px;
        /*max-height: 1000px;*/
    }

/*About*/
#about {
    min-height: 700px;
    /*text-align: center;*/
    color: #1B1C1F;
}



    #about .gallery {
        overflow: hidden;
        margin-left: 5%;
        margin-top: 50px;
        margin-right: 5%;
    }

        #about .gallery img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            float: left;
            margin: -50px 50px 0 0;
            /*border-radius: 10px;*/
        }

        #about .gallery h1 {
            font-size: 30px;
            margin-top : 0px;
            margin-bottom: 10px;
        }

        #about .gallery p {
            font-size: 18px;
            margin-right: 10%;
        }


/*Contact*/
#contact {
    padding: 20px;
    color: #ffffff;
    background: #1B1C1F;
}

    #contact h1 {
        float: left;
    }

    #contact button {
        float: right;
        margin-top: 15px;
    }

/*Boxes*/
#boxes {
    min-height: 1500px;
    align-items: center;
    color: #1B1C1F;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

    #boxes .box {
        float: left;
        text-align: center;
        width: 50%;
    }

        #boxes .box p {
            margin-top: 0px;
            margin-bottom: 0px;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            color: #A9A9A9;
        }

        #boxes .box h3 {
            margin-top: 0px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            color: #1B1C1F;
        }

        #boxes .box img {
            width: 75%;
            border-radius: 10px;
        }

            #boxes .box img:hover {
                transform: scale(1.05, 1.05);
            }

footer {
    padding: 20px;
    margin-top: 10px;
    color: #1B1C1F;
    background-color: #F3F2F2;
    text-align: center;
}
